{% extends 'base.html' %}

{% block title %}
Account Registration
{% endblock %}

{% block content %}
<main>
	<section>
		<p>Welcome to Uvic Anon! This is the place to discuss all kinds of topics with the UVic community. Join today and start posting!</p>
	</section>

	<section>
		<h2>Posts</h2>
		<table class="table table-hover">
			<thead>
			   <tr>
				  <th scope="col">ID</th>
				  <th scope="col">Posted</th>
				  <th scope="col">Content</th>
			   </tr>
			</thead>
			<tbody>
			   <!-- Your rows inside the table HERE: -->
			
			   {% for post in posts %}
			   <!-- {% include 'includes/items_modals.html' %} -->
				<tr>
					<td>{{ post.id }}</td>
					<td>{{ post.timestamp }}</td>
					<td>{{ post.content }}</td>
				</tr>
			   {% endfor %}

			</tbody>
		 </table>
	</section>

</main>

{% endblock %}