{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<main>
    <section class="text-center">
        <h2>Login</h2>
        <form method="POST" class="form-signin">
            {{ form.hidden_tag() }}

            <div class="form-group col-sm-6 mx-auto">
                {{ form.username(class="form-control", placeholder="NetlinkID") }}                
            </div>

            <div class="form-group col-sm-6 mx-auto">
                {{ form.password(class='form-control', placeholder='Password')}}
            </div>

            {{ form.submit(class="btn btn-primary") }}

        </form>
    </section>
</main>
{% endblock %}